.ButtonAdd {
  background-color: #30bc14;
  margin: 20px;
}

.ButtonAdd:hover {
  background-color: #299613;
}

.ButtonClear {
  background-color: #144cc7;
  margin: 20px;
}
.ButtonClear:hover {
  background-color: #103a94;
}

.ButtonReset {
  background-color: #b92424;
  margin: 20px;
}

.ButtonReset:hover {
  background-color: #7d1919;
}

.TextFieldForm {
  margin: 20px;
}

.ContentCenter {
  align-items: center;
}
